.calendar {
  box-sizing: border-box;
  width: 1274px;
  height: 800px;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -300px;
  margin-left: -650px;
  font-size: 1rem;
  max-width: 1800px;
  vertical-align: center;
}

.calendar .header {
  background-color: var(--grey);
  text-align: center;
  min-height: 3rem;
  line-height: 2rem;
  color: var(--black);
  font-family: var(--font-book);
  font-weight: 700;
  display: flex;
}

.calendar .day-names {
  display: flex;
  flex-wrap: wrap;
  max-width: 1274px;
  margin: 0 auto;
  align-items: center;
}

.calendar .body {
  border: 1px solid var(--grey);
}

.calendar .header .previous {
  flex: 1;
  text-align: left;
  margin-left: 1rem;
}

.calendar .header .next {
  flex: 1;
  text-align: right;
  margin-right: 1rem;
}

.calendar .week {
  background-color: #ff6361;
  border: 1px solid var(--grey);
  width: 179.5px;
  height: 50px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
  font-weight: 400;
}
.calendar .week div {
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.calendar .day {
  position: relative;
  width: calc(100% / 7);
  height: 100px;
  display: inline-block;
  border: 1px solid var(--grey);
  background-color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;

}

.calendar .day div {
  width: 54px;
  height: 120px;
  color: var(--black);
  z-index: 100;
  line-height: 44px;
}

.calendar .day div.before {

  color: var(--grey);
}

.calendar .day div.selected {
  background-color: var(--red);
  border-radius: 45px;
  height: 45px;
  color: var(--white);
  font-weight: bold;
}

.calendar .day div.today {
  background-color: var(--grey);


}

.calendar .day-dee{
  display: flex;
  flex-flow: initial;
  margin-left: 0px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 50px;
}

.calendar .day div.high{
  position: relative;
  width: 100%;
  height: 120px;
}

.calendar .day div.installed{
  position: relative;
  background-color: #FFEEBB;
  width: 100%;
  height: 120px;
}

.calendar .day div.flex-container {
  display: flex;
}

.calendar .day div.flex-container > div {
  margin: 0px;
  padding: 0px;
  font-size: 30px;
}

.calendar .day div.flex-column {
  display: flex;
  flex-direction: column;
}

.calendar .day div.flex-column > div {
  width: 100%;
  margin: 0px;
  text-align: center;
}

.calendar .day div.hidden {
  visibility: hidden;
}

.notification {
  background-color: rgb(238, 231, 231);
  color: rgb(15, 1, 1);
  text-decoration: none;
  padding: 5px 6px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: red;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}

.icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: #333333;
  background: #dddddd;
  border: none;
  outline: none;
  border-radius: 50%;
}

.icon-button_badge {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}